@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
}

/*}.table-content {*/
/*     width: 100%;*/
/*     flex-grow: 1;*/
/*     display: flex;*/
/*     flex-wrap: wrap;*/
/*     justify-content: center;*/
/*     box-sizing: border-box;*/
/* }*/

/*.calendar-day {*/
/*    width: 125px;*/
/*    height: 75px;*/
/*    position: relative;*/
/*    border: 1px solid #a6a6a6;*/
/*}*/

/*.calendar-day:hover {*/
/*    background-color: rgba(0,0,0,.10);*/
/*}*/

/*.calendar-day p {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    color: #a6a6a6;*/
/*}*/

/*.current p {*/
/*    color: #000000;*/
/*}*/

/*.selected p {*/
/*    color: #cc0000;*/
/*    font-weight: bold;*/
