.calendar {
    width: 900px;
    margin-right: 100px;
}

.calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;

}

.calendarBody {
    display: flex;
    flex-direction: row;
}

